/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1a73e8;
    margin: 10px 0;
    font-family: 'Poppins', 'sans-serif';
}

h2 {
    text-align: center;
    color: #1a73e8;
    margin: 10px 0;
    font-family: 'Poppins', 'sans-serif';
}

/* Layout */
.layout {
    display: flex; /* Para alinear el formulario y la tabla en una fila */
    justify-content: space-between; /* Espacio entre el formulario y la tabla */
    margin: 20px;
    gap:20px;
}

/* Formulario de registro de empleado */
.formulario {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ajustar el ancho del formulario */
    padding: 5px;
}

.formulario label {
    display: block;
    margin-bottom: 3px; /* Reducir el margen */
    color: #333;
    font-weight: bold;
    font-family: 'Poppins', 'sans-serif';
}

.formulario input,
.formulario select {
    width: calc(100% - 10px);
    padding: 5px; /* Reducir el padding */
    margin-bottom: 5px; /* Reducir el margen */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px; /* Reducir el tamaño de fuente */
    font-family: 'Poppins', 'sans-serif';
}

/* Estilo del botón de enviar */
.formulario button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 6px; /* Reducir el padding del botón */
    font-size: 12px; /* Reducir el tamaño de la fuente */
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.formulario button:hover {
    background-color: #45a049;
}



/*Formulario para modificar empleado*/
.formContainer {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f9f9f9; /* Color de fondo opcional */
    margin-left: 400px;
}


.formModificar{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Ajustar el ancho del formulario */
    padding: 20px;
}

.formModificar label {
    display: block;
    width: 40%; /* Ajuste del ancho del label */
    margin-bottom: 3px;
    color: #333;
    font-weight: bold;
    font-size: 14px; /* Ajuste del tamaño de la fuente */
}

.formModificar input,
.formModificar select {
    width: calc(100% - 10px);
    padding: 5px; /* Reducir el padding */
    margin-bottom: 5px; /* Reducir el margen */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px; /* Reducir el tamaño de fuente */
    font-family: 'Poppins', 'sans-serif';
}

/* Estilo del botón de enviar */
.formModificar button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 6px; /* Reducir el padding del botón */
    font-size: 12px; /* Reducir el tamaño de la fuente */
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.formModificar button:hover {
    background-color: #45a049;
}

/* Tabla para mostrar empleados */
.tabla {
    width: calc(100% - 10px);
    background-color: #ffffff;
    border-radius: 8px;
}

.tabla table {
    width: 100%;
    margin-left: 2px;
}

.tabla th {
    background-color: #4caf50;
    color: white;
    padding: 12px; /* Reducir padding */
    text-align: center;
    font-size: 8.7px; /* Reducir tamaño de fuente */
    font-family: 'Poppins', 'sans-serif';
}

.tabla td {
    padding: 5px; /* Reducir padding */
    text-align: center;
    border: 1px solid #ddd;
    font-size: 8.7px; /* Reducir tamaño de fuente */
    font-family: 'Poppins', 'sans-serif';
}

.tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla tr:hover {
    background-color: #ddd;
}

.tabla .boton {
    padding: 4px 6px; /* Reducir el tamaño del botón */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 10px;
}

.boton-contenedor {
    display: flex;
    justify-content: center; /* Centra los botones dentro de la celda */
    gap: 3px; /* Espacio entre los botones */
}

/* Estilo de botones uniformes */
.boton.editar,
.boton.eliminar {
    width: 45px; /* Ancho fijo para asegurar que ambos botones tengan el mismo tamaño */
    padding: 6px 0; /* Espaciado vertical uniforme */
    text-align: center; /* Centrar texto */
    color: white;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
}

.boton.editar {
    background-color: #1a73e8;
}

.boton.eliminar {
    background-color: #f44336;
}

.boton.editar:hover {
    background-color: #0f5ab7;
}

.boton.eliminar:hover {
    background-color: #d32f2f;
}

/* Imagen de perfil */
.tabla img {
    border-radius: 50%;
    max-width: 30px; /* Reducir tamaño de imagen */
    max-height: 30px;
}

/* Media Queries */
@media (max-width: 500px) {
    .formulario {
        padding: 10px; /* Reducir el padding en dispositivos más pequeños */
    }

    .formulario button {
        padding: 4px; /* Ajustar el tamaño del botón */
        font-size: 15px; /* Reducir el tamaño de la fuente */
    }

    .layout {
        flex-direction: column; /* Cambiar a una columna para mejor visualización en pantallas pequeñas */
        align-items: center; /* Centrar el contenido */
        height: auto; /* Asegúrate de que la altura sea automática */
    }

    .formulario {
        width: 100%; /* Hacer el formulario ocupar el 100% del ancho */
        max-width: 400px; /* Limitar el ancho máximo */
        margin-bottom: 20px; /* Espacio inferior entre el formulario y la tabla */
    }

    .tabla {
        width: 100%; /* Ajustar la tabla al 100% */
        overflow-x: auto; /* Habilitar scroll horizontal si es necesario */
        margin: 0; /* Eliminar márgenes para asegurar que ocupe el 100% */
    }

    .tabla th, .tabla td {
        font-size: 10px; /* Ajustar el tamaño de la fuente para caber mejor en pantallas pequeñas */
        padding: 8px; /* Ajustar padding para dar más espacio */
    }

    .tabla img {
        max-width: 20px; /* Reducir tamaño de imagen en pantallas pequeñas */
        max-height: 20px; /* Reducir altura de imagen */
    }

    .tabla .boton {
        font-size: 8px; /* Reducir tamaño de fuente de botones */
        padding: 3px; /* Reducir padding de botones */
    }
}



.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijar en la pantalla */
    z-index: 1; /* En la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro */
    justify-content: center; /* Centrar contenido */
    align-items: center; /* Centrar contenido */
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto; /* Margen automático */
    padding: 20px; /* Espaciado */
    border: 1px solid #888;
    border-radius: 8px; /* Bordes redondeados */
    width: 300px; /* Ancho del modal */
    text-align: center; /* Centrar texto */
    font-family: 'Poppins', 'sans-serif';
}

.modal button {
    margin: 10px; /* Espaciado */
    padding: 10px; /* Espaciado */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal .confirm {
    background-color: #4caf50; /* Color verde */
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.modal .cancel {
    background-color: #f44336; /* Color rojo */
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.busqueda {
    margin-bottom: 20px;
    text-align: center;
}

.busqueda input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.busqueda input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.busqueda button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.busqueda button:hover {
    background-color: #0056b3;
}

