/*FORMULARIO DE FILTRO*/
/* Contenedor de formularios de filtro */
.container {
    background: linear-gradient(135deg, #b7e296, #025d45);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    max-width: 500px;
    font-family: 'Poppins', 'sans-serif';
    display: none;
    flex:1;
    
}

/* Etiquetas y selectores */
label {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 8px;
    display: block;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #298903;
    font-family: 'Poppins', 'sans-serif';
    color:#fff;
}

select{
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #a29f9f;
    font-family: 'Poppins', 'sans-serif';
}

/* Estilo general para el campo de fecha */
.custom-date {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    font-size: 14px;
    font-family: 'Poppins','Sans-Serif';
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-date:focus {
    border-color: #007bff;
    font-family: 'Poppins','Sans-Serif';
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}