footer {
    background-color: rgb(220, 220, 217);
    padding: 40px;
    text-align: center;
    padding: 10px 20px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

footer .contact-info p {
    margin-bottom: 10px;
    color: #3f774d;
    font-size: 1.1em;
}

.SN{
    text-align: left;
    color:black;
}

.tres-columnas{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
}
