body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    color: #1a73e8;
    margin: 10px 0;
    font-family: 'Poppins', 'sans-serif';
}

h2 {
    text-align: center;
    color: #1a73e8;
    margin: 10px 0;
    font-family: 'Poppins', 'sans-serif';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.formulario {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 100%;
}

.busqueda {
    margin-bottom: 15px;
}

.product-grid {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 700px; /* Aumenta la altura máxima */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-card {
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: calc(50% - 10px); /* Dos productos por fila */
    box-sizing: border-box;
}

.product-card img {
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h5 {
    font-size: 1rem;
    margin-bottom: 8px;
}

.product-card p {
    font-size: 0.9rem;
    color: #555;
}

.product-card .btn {
    margin-top: 5px;
    font-size: 0.8rem;
}

#confirmModal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
}

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijar en la pantalla */
    z-index: 1; /* En la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro */
    justify-content: center; /* Centrar contenido */
    align-items: center; /* Centrar contenido */
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto; /* Margen automático */
    padding: 20px; /* Espaciado */
    border: 1px solid #888;
    border-radius: 8px; /* Bordes redondeados */
    width: 300px; /* Ancho del modal */
    text-align: center; /* Centrar texto */
    font-family: 'Poppins', 'sans-serif';
}

.modal button {
    margin: 10px; /* Espaciado */
    padding: 10px; /* Espaciado */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal .confirm {
    background-color: #4caf50; /* Color verde */
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

.modal .cancel {
    background-color: #f44336; /* Color rojo */
    color: white;
    font-family: 'Poppins', 'sans-serif';
}
